<app-header *ngIf="showLayout" (toggleSidebar)="toggleSidebar()"></app-header>

<!-- Overlay -->
<div class="overlay" *ngIf="sidebarVisible" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<app-sidebar
  *ngIf="showLayout"
  [isOpen]="sidebarVisible"
  (linkClicked)="closeSidebar()">
</app-sidebar>

<!-- Content -->
<div class="content" #contentRef>
  <router-outlet></router-outlet>
</div>

  <!-- <div class="text-end mt-3">
    <button class="btn btn-warning my-5 mx-2" (click)="goPostMobiles()">
      Go Post Page
    </button>
    <button class="btn btn-warning my-5 mx-2" (click)="goGetMobiles()">
      Get All Page
    </button>
  </div> -->

