.main-layout {
  display: flex;
}

.content {
  padding: 20px;
  margin-top: 56px; /* height of navbar */
  transition: margin-left ;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 998;
}

app-sidebar {
  z-index: 999;
  position: relative;
}
