<app-header class="fixed-top" (toggleSidebar)="toggleSidebar()"></app-header>

<div class="main-layout d-flex">
  <app-sidebar [isOpen]="sidebarVisible"></app-sidebar>

  <div class="content flex-grow-1 ms-0" [style.marginLeft.px]="sidebarVisible ? 200 : 0">
    <router-outlet></router-outlet>
  </div>
</div>

  <!-- <div class="text-end mt-3">
    <button class="btn btn-warning my-5 mx-2" (click)="goPostMobiles()">
      Go Post Page
    </button>
    <button class="btn btn-warning my-5 mx-2" (click)="goGetMobiles()">
      Get All Page
    </button>
  </div> -->

